<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/nav') %>

  <section>
    <h2>About Me</h2>
    <p><%= data.about %></p>

    <h3>Skills</h3>
    <ul>
      <% data.skills.forEach(skill => { %>
        <li><%= skill %></li>
      <% }) %>
    </ul>
  </section>

  <%- include('partials/footer') %>
</body>
</html>
